@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@tailwind base;
.btn{
  @apply py-3 px-12 text-lg font-bold font-poppins text-white bg-Primary-Cyan hover:bg-Primary-hoverp;
}

.title{
  @apply font-poppins font-bold text-2xl md:text-5xl text-Neutral-VeryDarkViolet my-4 text-center sm:text-left;
}

.txt{
  @apply font-poppins font-medium text-lg text-Neutral-GrayishViolet text-center sm:text-left;
}

.hero::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 10%;
  z-index: -1;
  background-image: url('/illustration-working.svg');
  background-repeat: no-repeat;
  background-position: top 10% left 10%;
  background-size: contain;
}

span{
  @apply text-Neutral-Gray font-poppins cursor-pointer hover:text-Primary-Cyan
}

.headerLink{
  @apply text-sm font-poppins font-bold text-Neutral-GrayishViolet hover:text-Neutral-VeryDarkBlue cursor-pointer
}

.maxw{
  @apply lg:max-w-[1100px] m-auto
}

.blackfilter{
  color:black;
  filter:invert(70%) sepia(13%) saturate(1920%) hue-rotate(132deg) brightness(95%) contrast(99%);
}

input{
  @apply p-3 text-Neutral-GrayishViolet font-poppins w-full rounded-md focus:outline-none
}

.inputerr{
  @apply border-[3px] border-Secondary-sRed/80 text-Secondary-sRed/50
}
@tailwind components;
@tailwind utilities;
